.product-grid-creative {
    padding: 4rem 2rem;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
  
    &.visible {
      opacity: 1;
      transform: translateY(0);
    }
  
    .collection-intro {
      text-align: center;
      margin-bottom: 2rem;
    
      h2,
      p {
        color: var(--primary-color);
      }
    }
    
    html.theme-dark .collection-intro {
      h2,
      p {
        color: var(--primary-color);
      }
    }
      
    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 1.5rem;
    }
  }
  .scroll-arrow {
    position: fixed;  /* Esto fija la flecha en la pantalla */
    bottom: 10%;         /* Posiciona la flecha en el centro vertical */
    left: 50vw;        /* Posiciona la flecha en el centro horizontal */
    transform: translate(-50%, -50%);  /* Centra perfectamente */
    cursor: pointer;
  }

  